[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyqt5 = "*"
pydantic = "*"
typing = "*"
pyinstaller = "*"
bs4 = "*"
validators = "*"
pytest = "*"
uvicorn = "*"
fastapi = "*"
jinja2 = "*"

[requires]
python_version = "3.8"
