# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Pre-Merge Tests
on:
  pull_request:
    branches: [ main, development ]

jobs:
  test:
    name: Code Tests Only
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
          cache: 'pipenv'
          cache-dependency-path: '**/Pipfile'
          
      - name: Setup Pipenv
        run: |
          python -m pip install -U pip pipenv
          pipenv install --deploy -d
      - name: Test
        run: pipenv run pytest tests.py
